<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SnookerMunkAtlas/ballBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,484},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>SnookerMunkAtlas/ballBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,484},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>SnookerMunkAtlas/ballBrown.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,484},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>SnookerMunkAtlas/ballGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,484},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>SnookerMunkAtlas/ballPink.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,484},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>SnookerMunkAtlas/ballRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,484},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>SnookerMunkAtlas/ballWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,484},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>SnookerMunkAtlas/ballYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,484},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>SnookerMunkAtlas/pocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>SnookerMunkAtlas/snooker_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,480}}</string>
                <key>sourceSize</key>
                <string>{262,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snookerMunk-hd.png</string>
            <key>size</key>
            <string>{266,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdfc7cb13455ed83ef153e9caa78073f:00c00490ec04f2582be47f0b03a8468c:5ed04b65cdfd99864cfe799a9d75faa2$</string>
            <key>textureFileName</key>
            <string>snookerMunk-hd.png</string>
        </dict>
    </dict>
</plist>
